<div class="siteBody">
  <h3>New Employee</h3>

  <div class="form">
    <div class="form-field">
      First Name:
      {{input value = firstName}}
    </div>
    <div class="form-field">
      Last Name:
      {{input value = lastName}}
    </div>
    <div class="form-field">
      Email:
      {{input value = email}}
    </div>
    <div class="form-field">
      Phone Number:
      {{input value = phoneNumber}}
    </div>
    <div class="form-field">
      Position:
      {{input value = position}}
    </div>
    <button {{action 'newEmployee'}}>Save Employee</button>
  </div>

</div>
