<div class="siteBody">
  <h3>{{firstName}} {{lastName}}</h3>
  <h5>{{position}}</h5>
  <hr>
  <div class="siteBody">
    <h4>Shifts scheduled</h4>
    <hr>
    {{#each shift in shifts}}
     <span>{{shift.startTime}}  until {{ shift.endTime}}</span>
    {{/each}}

    

    <h4>Contact info</h4>
    <hr>
    <p>
      Email: {{email}}
    </p>
    <p>
      Phone Number: {{phoneNumber}}
    </p>
  </div>
</div>
