<div class="siteBody siteTop">
  <h3>Schedule</h3>
  <hr>

  {{#each shift in model}}
    <div class="tableRow">
      {{#link-to 'shift' shift}}
      {{shift.employee.firstName}} {{shift.employee.lastName}}: {{ date-and-time shift.startTime}} unil {{ date-and-time shift.endTime}}
      {{/link-to}}
    </div>

  {{/each}}
</div>

{{outlet}}
