<div class="siteBody">
  <h3>This shift...</h3>
  <p>
    {{employee.firstName}} {{employee.lastName}} is currently covering this shift.
  </p>
  <p>
    {{employee.firstName}} is scheduled to work from {{date-and-time startTime}} until {{date-and-time endTime}}.
  </p>
</div>
